{% extends 'base.html.twig' %}

{% block title %}MRequest{% endblock %}

{% block body %}

    <h1>MRequest</h1>
    <div class="text-center"><a class="btn btn-primary btn-lg" href="{{ path('bin_create') }}">Create Bin</a></div>

{% endblock %}
