{% extends 'base.html.twig' %}

{% block title %}MRequest{% endblock %}
{% block page_title %}MRequest{% endblock %}

{% block body %}
    <div class="text-center"><a class="btn btn-primary btn-lg" href="{{ path('bin_create') }}">Create Request Bin</a></div>
{% endblock %}
